body {
    font-family: roboto, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    color: #F9FAF8;
    font-weight: 24px;
    padding: 5px 100px;
}

.links {
    list-style-type: none;
    display: flex;
    gap: 30px;
}

.content-1 {
    background-color: #1F2937;
    display: flex;
    
    padding: 5px 100px;
}

.content-1-image {
    width: 500px;
    height: 200px;
    background-color: #6C737B;
    color: #F9FAF8;
}

.banner-text {
    font-size: 48px;
    font-weight: 900;    
    color: #F9FAF8;
}

.banner-subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.sign-up-button {
    background-color: #3882F6;
}

.content-2 {
}

.image-collection {
    display: flex;
    gap: 20px;
}

.random-image {
    border: 2px solid #3882F6;
    border-radius: 10px;
    width: 120px;
    height: 120px;
}

.subtext {
    width: 120px;
    font-size: 12px;
}

.content-3 {
    background-color: #E5E7EB;
}

.quote {
    font-size: 36px;
    font-weight: light;
    color: #1F2937;
}

.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    font-weight: 24px;
}